<app-banner></app-banner>
<table class="table text-center">
    <thead>
        <tr>
            <th scope="col">teamone</th>
            <th scope="col">teamtwo</th>
            <th scope="col">scoreone</th>
            <th scope="col">scoretwo</th>
            
            <th scope="col">action</th>
    
        </tr>
    </thead>
    <tbody id="">
        
        <tr *ngFor="let item of data">
            <td>{{item.teamone}}</td>
            <td>{{item.teamtwo}}</td>
            <td>{{item.scoreone}}</td>
            <td>{{item.scoretwo}}</td>
            
            
            

             
                
        </tr>
            
        
    </tbody>
</table>
