<app-banner title="edit Profile"></app-banner>
  
<div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <form [formGroup]="signupForm">
            <div class="form-group">
              <input type="text" class="form-control"  formControlName="firstName" [(ngModel)]="user.firstName" placeholder="FirstName">
            </div>
            <div *ngIf="signupForm.controls['firstName'].invalid && 
            (signupForm.controls['firstName'].touched || signupForm.controls['firstName'].dirty) ">

            <div *ngIf="signupForm.controls['firstName'].errors.required">
              First Name is required
            </div>
            <div *ngIf="signupForm.controls['firstName'].errors.minlength">
              First Name must have at least 3 chars

            </div>
            </div>

            <div class="form-group">
              <input type="text" class="form-control" formControlName="lastName" [(ngModel)]="user.lastName" placeholder="LastName">
            </div>
            <div *ngIf="signupForm.controls['lastName'].invalid && 
            (signupForm.controls['lastName'].touched || signupForm.controls['lastName'].dirty) ">

            <div *ngIf="signupForm.controls['lastName'].errors.required" style="color: red;">
              Last Name is required
            </div>
            <div *ngIf="signupForm.controls['lastName'].errors.minlength">
              last Name must have at least 4 chars

            </div>
            </div>


            <div class="form-group">
              <input type="text" class="form-control" formControlName="email" [(ngModel)]="user.email"  placeholder="Email">
            </div>
            <div *ngIf="signupForm.controls['email'].invalid && 
            (signupForm.controls['email'].touched || signupForm.controls['email'].dirty) ">

            <div *ngIf="signupForm.controls['email'].errors.required" style="color: red;">
              Email is required
            </div>
            <div *ngIf="signupForm.controls['email'].errors.email">
              Email invalid
            </div>
            </div>


            <div class="form-group">
              <input type="password"   class="form-control" formControlName="pwd" [(ngModel)]="user.pwd" placeholder="Password">
            </div>
            <div *ngIf="signupForm.controls['pwd'].invalid && 
            (signupForm.controls['pwd'].touched || signupForm.controls['pwd'].dirty) ">

            <div *ngIf="signupForm.controls['pwd'].errors.required">
              password Name is required
            </div>
            <div *ngIf="signupForm.controls['pwd'].errors.minlength">
              password  must have in 6 chars 
            </div>
            <div *ngIf="signupForm.controls['pwd'].errors.maxlength">
              password must have in 12 chars 
            </div>
            </div>


            <div class="form-group">
              <input type="password" class="form-control" formControlName="confirmPwd" [(ngModel)]="user.confirmPwd" placeholder="valid password">
            </div>
            
            <div class="form-group">
              <input type="submit"  class="btn btn-primary py-3 px-5" (click)="editUser()" value="Edit">
            </div>
          </form> 
     
        </div>
       
      </div>
    </div>
  </div>
