<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-9 mx-auto text-center">
          <h1 class="text-white">Add Match</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section">
      <div class="container">
        <div class="row">
          <form #matchForm="ngForm" class="col-lg-12" (ngSubmit)="addMatch()">
            <div action="#" class="row">
              <div class="form-group col-lg-6">
                <input  [(ngModel)]="match.scoreone" type="number" name="scoreOne" class="form-control" placeholder="score One">
              </div>
              <div class="form-group col-lg-6">
                <input [(ngModel)]="match.scoretwo" type="number" name="scoreTwo" class="form-control" placeholder="score Two">
              </div>
              <div class="form-group col-lg-6">
                <input [(ngModel)]="match.teamone" type="text" name="teamOne" class="form-control" placeholder="Team One">
              </div>
              <div class="form-group col-lg-6">
                <input [(ngModel)]="match.teamtwo" type="text" name="teamTwo" class="form-control" placeholder="Team Two">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-secondary" type="button">Button</button>
                </div>
                <select  (change)="onSelect($event)" class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                  <option selected>Stadium</option>
                  <option *ngFor="let a of T"  [value]="a.id">{{a.name}}</option>
                  
                </select>
              </div>
              
              <div class="form-group">
                <input type="submit" class="btn btn-primary py-3 px-5" value="Add">
              </div>
            </div>  
          </form>
         
        </div>
      </div>
    </div>
