
<app-banner title="login"></app-banner>

  <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <form #loginForm="ngForm" (ngSubmit)="validateLogin()">
              <div class="form-group">
                <input type="text" class="form-control" 
                  placeholder="Email" [(ngModel)]="user.email"  name="email" #email="ngModel"
                  [ngClass]="{ 'is-invalid': loginForm.submitted && email.invalid }" required email >
                  <div *ngIf="loginForm.submitted && email.invalid" class="invalidfeedback">
                    <p *ngIf="email.errors.required">Email is required</p>
                    <p *ngIf="email.errors.email">Email format is invalid </p>
                    </div>
              </div>

             


              <div class="form-group">
                <input type="text" class="form-control" placeholder="pwd" [(ngModel)]="user.pwd" name="pwd" #pwd="ngModel" required pwd>
                <div *ngIf="loginForm.submitted && pwd.invalid" class="invalidfeedback">
                  <p *ngIf="pwd.errors.required">password is required</p>
                  
                  </div>
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-primary py-3 px-5" value="Login">
              </div>
              <span class="text text-primary" >{{errormsg}}</span>

            </form>  
          </div>
         
        </div>
      </div>
    </div>
